/* ibm-plex-mono-300 - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ibm-plex-mono-v20-latin-300.woff2") format("woff2");
}
/* ibm-plex-mono-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/ibm-plex-mono-v20-latin-300italic.woff2") format("woff2");
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-mono-v20-latin-regular.woff2") format("woff2");
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ibm-plex-mono-v20-latin-italic.woff2") format("woff2");
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ibm-plex-mono-v20-latin-500.woff2") format("woff2");
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/ibm-plex-mono-v20-latin-500italic.woff2") format("woff2");
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibm-plex-mono-v20-latin-700.woff2") format("woff2");
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ibm-plex-mono-v20-latin-700italic.woff2") format("woff2");
}
/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v25-latin-300.woff2') format('woff2');
}
/* lato-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato-v25-latin-300italic.woff2') format('woff2');
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2');
}
/* lato-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-italic.woff2') format('woff2');
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2');
}
/* lato-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700italic.woff2') format('woff2');
}
/* lora-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v37-latin-regular.woff2') format('woff2');
}
/* lora-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lora-v37-latin-italic.woff2') format('woff2');
}
/* lora-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/lora-v37-latin-500.woff2') format('woff2');
}
/* lora-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/lora-v37-latin-500italic.woff2') format('woff2');
}
/* lora-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lora-v37-latin-700.woff2') format('woff2');
}
/* lora-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lora-v37-latin-700italic.woff2') format('woff2');
}


:root {
  --light: 300;
  --normal: 400;
  --medium: 500;
  --bold: 700;
}


h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: var(--bold);
  font-family: "Lato", Garamond, Georgia, serif;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: var(--normal);
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

code {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: var(--normal);
  font-family: "IBM Plex Mono", "SF Mono", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
}

h1 {
  font-size: 2.3526rem;
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-lg);
}

h2 {
  font-size: 1.7689rem;
  margin-block-start: var(--space-xl);
  margin-block-end: var(--space-md);
}

h3 {
  font-size: 1.33rem;
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-sm);
}

small {
  font-size: 0.7518rem;
}

p,
ul,
ol,
pre,
blockquote {
  margin-block-start: var(--space-md);
  margin-block-end: var(--space-md);
}

li {
  margin-block-end: var(--space-xs);
}

blockquote {
  padding-left: var(--space-md);
  border-left: 3px solid var(--accent);
}
